주석과 상수

In [ ]:
# comments

In [1]:
3.4 # numeric literals

3.4

In [2]:
7L

SyntaxError: invalid decimal literal (2272915870.py, line 1)

In [3]:
-5 4.5

SyntaxError: invalid syntax (1737761505.py, line 1)

변수와 대입

In [4]:
10, -3

(10, -3)

In [6]:
# variablea
a = 3 # assign value to variable a
a

3

In [7]:
m, n = 10, 20
print(m, n)

10 20

In [8]:
m, n =n,m
print(m, n)

20 10

변수 이름 조건

In [9]:
# var name
age = 19
age

19

In [10]:
my_age = 20
my_age

20

In [11]:
_height = 172.3
_height

172.3

In [12]:
_26asian = 2026
_26asian

2026

In [13]:
#잘못된 변수
26worldcup = 2026

SyntaxError: invalid decimal literal (1877649058.py, line 2)

In [14]:
my.age = 21

NameError: name 'my' is not defined

In [15]:
my credits = 18

SyntaxError: invalid syntax (1081866595.py, line 1)

R 기본 자료형

In [17]:
#int
a =10
print(a)

10

In [18]:
type(a)

int

In [19]:
#float
c = 3 -4j
print(c)

(3-4j)

In [20]:
type(c)

complex

In [21]:
# string
s = "VS code"
print(s)

VS code

In [22]:
type(s)

str

In [24]:
#logical
b = True
print(b)

True

In [25]:
type(b)

bool

다양한 연산자

In [26]:
10 + 4.3

14.3

In [27]:
5.4 - 1.2

4.2

In [28]:
4 * 2.7

10.8

In [29]:
10 /4

2.5

In [30]:
10 %3

1

In [31]:
10//3

3

In [32]:
2 **3

8

In [33]:
2 **2.8

6.964404506368992

In [34]:
3 * (4-2)

6

In [35]:
(10-3)**2

49

In [36]:
True & True

True

In [37]:
True and False

False

In [38]:
True|True

True

In [39]:
False or False

False

In [40]:
not True

False

In [41]:
not False

True

내장 함수와 도움말 함수

In [42]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

함수 호출 활용

In [43]:
year = input('당신이 태어난 년도는 ? ')

In [44]:
print(year)

2007

In [45]:
type(year)

str

In [46]:
age = 2026 -year

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [50]:
age = 2026 -int(year)
print('나이', age)

나이 21

In [51]:
year = int(input('당신이 태어난 년도는 ?'))

In [52]:
print('나이', 2026 -year)

나이 21

In [53]:
abs(-3)

3

In [54]:
min(10, 20, 1)

1

In [55]:
max(10, 100, 1)

100

In [56]:
min([10, 11, 12])

10

In [57]:
max([10,11,12])

12

In [58]:
round(3.1415)

3

In [59]:
round(3.1415, 3)

3.142

내장 모듈 math 활용

In [60]:
import math as m
m.pi, m.e

(3.141592653589793, 2.718281828459045)

In [61]:
m.sqrt(4)

2.0

In [62]:
m.ceil(3.7)

4

In [63]:
m.ceil(3.1)

4

In [64]:
m.ceil(-3.7)

-3

In [65]:
m.ceil(-3.1)

-3

In [66]:
m.floor(3.7)

3

In [67]:
m.floor(3.1)

3

In [68]:
m.floor(-3.7)

-4

In [69]:
m.floor(-3.1)

-4

In [70]:
m.trunc(3.1415)

3