조건 if

In [1]:
n = 20
if n % 2  == 0:
    print('짝수')

짝수

In [4]:
n = 21
if n % 2 ==0:
    print('짝수')

조건 if else

In [6]:
age = 18
if age >= 20:
    print('성인')
else:
    print('미성년자')

미성년자

In [7]:
age = 21
if age >= 20:
    print('성인')
else:
    print('미성년자')

성인

한 줄 조건 구문 if else

In [8]:
age = 18
s ='성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [9]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

In [10]:
point = 92
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

A

In [11]:
point = 62
if (90 <= point):
    print('A')
elif (80 <= point):
    print('B')
elif (70 <= point):
    print('C')
elif (60 <= point):
    print('D')
else:
    print('F')

D

In [12]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"

print(result)

사과

In [13]:
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"

print(result)

바나나

In [15]:
value = "mango"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
    case _:
        result = None

print(result)

None

반복 for문

In [18]:
num = [10, 20, 30, 40]
for i in num:
    print(i)

10
20
30
40

In [19]:
fruits = list(["apple", 2500, "banana", 500, "mango", 2000])
for x in fruits:
    print(x)

apple
2500
banana
500
mango
2000

반복 while 문

In [21]:
i = 1
sum = 0
while i <= 10:
    sum +=i
    i += 1

print(sum)

55

함수 선언과 호출

In [22]:
def hello():
    print('Hello, python')

In [23]:
hello()

Hello, python

In [24]:
hello

In [25]:
type(hello)

function

In [26]:
def hi(one):
    print('안녕,', one)

In [27]:
hi('영희')

안녕, 영희

In [28]:
hi

In [29]:
str(hi)

'<function hi at 0x000001D29392E660>'

함수 매개변수 기본 값

In [30]:
def hi(one = '친구들'):
    print('안녕, ', one)

In [31]:
hi()

안녕,  친구들

In [32]:
hi('철수')

안녕,  철수

In [33]:
import math as m
def circle_area(r = 1):
    print(m.pi * r**2)

In [34]:
circle_area()

3.141592653589793

In [35]:
circle_area(4.5)

63.61725123519331

In [36]:
circle_area(r = 5.6)

98.5203456165759

In [37]:
print(circle_area(r = 7.2))

162.8601631620949
None

In [39]:
import math as m
def circle_area(r=1):
    return m.pi * r**2

print(circle_area(r = 7.2))

162.8601631620949

In [40]:
def sum_sub(x,y):
    hap = x + y
    cha = x- y
    return hap, cha

In [41]:
sum_sub(10, 3)

(13, 7)

In [42]:
sum_sub(x= 10, y =3)

(13, 7)

In [43]:
sum_sub(y = 3, x =10)

(13, 7)

lambda익명함수

In [44]:
import math as m
(lambda a, b: m.sqrt(a ** 2 + b**2))(3,4)

5.0